*{
    margin: 0 auto;
    padding: 0;
}

body{
    background: #bfd7dd;
}

#predloader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 100;
}

.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.progress-percentage{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Verbana", cursive;
    font-weight: bold;
    font-size: 1.7em;
    color: aquamarine;
}

#logoName{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-family: cursive;
    z-index: 100;
    font-size: 20px;
}

.logoName{
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 1.6em;
}

.logoImg{
    width: 55px;
    height: 50px;
    margin-left: 20px;
}

.raw{
    clear: both;
}

.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
} 

.container .cols{
    float: left;
    margin: 0 0 0.3em;
    padding: 0 0em;
    text-align: center;
} 

.container .cols.col-1    {
    width: 8.33%; height: 50px;
}

.container .cols.col-log {
    background: green;
    width: 10.8%; 
    height: 50px;
    float: right;
    text-align: center;
    border-bottom-left-radius: 15px;
    margin-bottom: 42.3%;
}

.container .cols.col-bann {
    background: rgba(86,124,164,0.8);
    width: 11%; 
    height: 520px; 
    margin-top:1%; 
    float: right;
    border-top-left-radius: 15px;
    position: fixed;
    left: 89%;
    top: 8.8%;
}

.container .cols.col-2    {
    width: 16.66%; height: 50px;
}

.container .cols.col-menu {
    width: 18%; 
    height: 490px; 
    margin-top:1%;
    position: fixed;
    top: 15%;
    left: 0;   
}

.container .cols.col-logo {
    width: 18%; 
    height: 50px;
    text-align: left;
}

.container .cols.col-3    {
    width: 25%; 
}

.container .cols.col-parts{
    background: rgba(0,200,80,0.2);
    width: 20%; 
    height: 70%; 
    border: none;
    padding-top: 15px;
    color: white;
    background: black;
    font-family: sans-serif;
    font-size: 1.2em; 
    cursor: pointer;
}

#part4{
     border-bottom-right-radius: 15px;
}

.container .cols.col-4    {width: 33.33%;}

.container .cols.col-model{
    width: 30%;
    height: auto;
    margin: 1.3%;
    background: rgba(255,255,255,0.8);
    
}

.container .cols.col-logMenu  {
    width: 25%;
    height: 300px;
    position: fixed;
    left: 40%;
    top: 20%;
    background: rgba(0,125,52,1);
    display: none;
    border-radius: 15px;
}
.container .cols.col-5    {width: 41.66%;text-align: left; margin-left: 4%;}
.container .cols.col-6    {width: 50%;}
.container .cols.col-7    {width: 58.33%;}

.container .cols.col-8    {width: 66.66%;}

.container .cols.col-topMenu{
    width: 66.66%; 
    height: 50px; 
    margin-left: 2%;
}

.container .cols.col-cont {
    width: 66.66%; 
    height: auto; 
    margin-left: 20%; 
    margin-right: 1%; 
    margin-top:1%;
    border-top-right-radius: 15px;  
}

.container .cols.col-9    {width: 75%;}
.container .cols.col-10   {width: 83.33%;}
.container .cols.col-11   {width: 91.66%;}


.container .cols.col-contb{
    width: 100%;
    margin-bottom: 2%;
    background: rgba(250,250,250,0.8);
    border-radius: 15px;
}

.container .cols.col-left {
    width: 90%;
    height: auto;
    padding: 2%;
    border: 1px solid rgba(0,220,180,1);;
    margin: 3% 2%;
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px;
    background: rgba(0,220,180,0.3);
    transition: 0.3s;
    cursor: pointer;
}

.container .cols.col-12   {width: 100%;}

.container .cols.col-foot {
    width: 100%; 
    height: 50px;
    margin-top: 10px;
    margin-bottom: -5px;
    background: rgba(10,100,200,0.8); 
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 500px){
    .container .cols.col-log  {display: none;}
    .container .cols.col-bann {display: none;}
    .container .cols.col-menu {width: 92%; height: auto;
    position: inherit; margin-top: 240px; margin-left: 2%; padding: 0;}
    .container .cols.col-logo {width: 100%;}
    .container .cols.col-parts{width: 100%; border-radius: 15px;}
    .container .cols.col-model{width: 95%;}
    .container .cols.col-6    {width: 100%;}
    .container .cols.col-topMenu{width: 96%; margin: 2%;}
    .container .cols.col-cont {width: 98%; margin-left: 1%; position: relative;}
    .container .cols.col-left {width: 98%; height: auto; margin: 1%; border-radius: 0;}
    .container .cols.col-left:hover{width: 98%; border-radius: 15px;}
}

.login{
    width: 100%;
    height: 100%;
    padding-top: 7px;
    font-size: 1.3em;
    color: aliceblue;  
    cursor: pointer;
}

.login:hover{
    transition: 0.3s;
    font-size: 1.5em;
}

.cols.col-parts:hover{
    background: rgba(36,9,53,1);
    color: antiquewhite;
    height: 51px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.3s;
}

.cols.col-left:hover{
    background: rgba(0,220,180,1);
    width: 85%;
}

.inputLog{
    width: 90%;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 15px;
}

.buttIn{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    height: auto;
    font-size: 1.3em;
    background: rgba(20,50,100,0.5);
    border-radius: 15px;
}

.buttIn:hover{
    font-size: 1.4em;
    border: 1px solid azure;
    background: rgba(20,50,150,0.7);
}

.printerImg{
    margin-top: 10px;
    padding-right: 5%;
    padding-left: 2%;
    width: 15%;
    height: 15%;
    float: left;
}

.printerText{
    width: 40%;
    text-align: left;
    font-size: 0.8em;
    float: left;    
}

.printerInfo{
    margin-left: 5%;
    width: 30%;
    text-align: left;
    font-size: 0.8em;
    float: left;    
}

.newsText{
    text-align: justify;
    padding: 2% 2%;
}

.newsImg{
    width: 90%;
}

.modelImg{
    width: 90%;
    margin: 5%;
}
    
.modelDownload{
    width: 90%;
    height: auto;
    border: 1px solid rgba(30,30,30,0.4);
    margin-top: 6%;
    padding: 2%;
    margin-bottom: 1%;
}

.modelDownload:hover{
    background: rgba(20,20,20,0.2);
}

a{ 
    text-decoration: none;
    color: black;
}

.printInfo{
    text-align: justify;
    font-size: 1.2em;
    
}

input{
    text-align: center;
    width: 100%;
}

.closeLog{
    font-family: monospace;
   float: right;
    margin-top: 2%;
    margin-right: 2%;
    padding: 2px 5px;;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}
